header{
    background: url("https://covstar.sirv.com/Portfolio_imgs/M_About.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.profile img{
    transform: scaleX(-1);
}

.active{
    background-color: white;
    color: #c92c6d;
}
.active:hover{
    background-color: #036572;
    color: white;
    transition: all .3s;
}

.neumorphism{
    border-radius: 10px;
        box-shadow: 0px 10px 10px #004852,
            -0px -5px 10px #013d3bea;
}

/* Define the animation */
@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Apply the animation to the image */
.boy_laptop {
    animation-name: moveUpAndDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    filter: hue-rotate(170deg);
}